---
import Header from '../components/Header.astro'
import Contact from '../components/Contact.astro'
import AboutMe from '../components/AboutMe.astro'
import Experience from '../components/Experience.astro'
import Education from '../components/Education.astro'
import Layout from '../layouts/Layout.astro'
import ThemeToggle from '../components/ThemeToggle.astro'
---

<Layout>
  <ThemeToggle />
  <div
    style={{ backgroundImage: 'var(--bg-texture)' }}
    class="font-sans bg-cover bg-center min-h-screen p-4"
  >
    <main
      class="grid grid-cols-1 md:grid-cols-5 max-w-[1200px] mx-auto shadow-xl relative bg-white"
      style={{ backgroundImage: 'var(--paper-texture)' }}
    >
      <header class="col-span-full bg-opacity-25 bg-slate-300 px-4">
        <Header />
      </header>
      <aside class="col-span-full md:col-span-1 md:row-span-2">
        <!-- Sidebar placeholder component -->
        <Contact />
        <img src="line.png" alt="line" class="w-[90%] mx-auto opacity-50" />
        <AboutMe />
      </aside>
      <section class="col-span-full md:col-span-4 md:row-span-2">
        <Experience />
        <Education />
      </section>
    </main>
  </div>
</Layout>
