---
export const AboutMe = () => ({
  Component: AboutMe,
})
---

<div class="mt-2 mx-4 border-t border-gray-400">
  <p class="text-sm py-8 text-justify">
    I am a fullstack web developer with over 10 years of professional
    experience, specializing in frontend development and JavaScript. I am also
    well-versed in backend and API development across various languages,
    including Python, Go, Java, and server-side JavaScript.
  </p>
  <p class="text-sm text-justify">
    As a sociable individual, I thrive in strong, collaborative teams but am
    equally capable of taking the initiative and driving progress independently.
    I adapt quickly to new processes, environments, and technologies,
    consistently maintaining a professional attitude and a clear focus on
    delivering high-quality results.
  </p>
</div>
