---
interface Education {
  degree: string
  institution: string
  period: string
  details: string[]
}

const education: Education[] = [
  {
    degree: 'M.Sc. Industrial Engineering and Management (International, Japanese)',
    institution: 'The Institute of Technology at Linköping University',
    period: '2005 — 2011',
    details: [
      'Focus on Computer Science and Industrial Marketing including Japanese language studies'
    ]
  },
  {
    degree: 'Exchange Studies',
    institution: '明治大学 / Meiji University, Tokyo',
    period: '2008 — 2009',
    details: [
      'Business and Management courses conducted in Japanese'
    ]
  }
]
---

<section class="px-8 py-4 mb-12">
  <h2 class="text-2xl font-bold mb-6">EDUCATION</h2>
  <div class="space-y-6">
    {
      education.map(({ degree, institution, period, details }) => (
        <div>
          <div class="flex flex-col sm:flex-row sm:justify-between sm:items-baseline mb-2">
            <h3 class="text-xl">
              {degree}
            </h3>
            <span class="text-base font-semibold text-gray-700 mt-1 sm:mt-0">{period}</span>
          </div>
          <p class="text-red-500 mb-2">{institution}</p>
          <p class="text-sm">{details.join(', ')}</p>
        </div>
      ))
    }
  </div>
</section> 